// Colors
$color-primary: #633cff;
$color-primary-hover: #beadff;
$color-secondary: #efebff;
$color-dark-grey: #333;
$color-grey: #737373;
$color-borders: #d9d9d9;
$color-light-grey: #fafafa;
$color-white: #fff;
$color-red: #ff3939;

// Typography
$text-font-default: "Instrument Sans Variable", sans-serif;
$text-weight-bold: 700;
$text-weight-medium: 600;
$text-weight-regular: 400;
$text-size-xl: 64px;
$text-size-l: 32px;
$text-size-m: 16px;
$text-size-s: 12px;
$text-line-height-default: 150%;
$text-line-height-small: 100%;

@mixin typography(
  $font-weight,
  $font-size,
  $line-height: $text-line-height-default,
  $color: $color-dark-grey,
  $font-family: $text-font-default
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.heading__text {
  &-l {
    @include typography(
      $text-weight-bold,
      $text-size-xl,
      $text-line-height-small
    );
  }
  &-m {
    @include typography($text-weight-bold, $text-size-l);
  }
  &-s {
    @include typography($text-weight-bold, $text-size-m);
  }
}

.body__text {
  &-m {
    @include typography($text-weight-regular, $text-size-m);
  }
  &-s {
    @include typography($text-weight-regular, $text-size-s);
  }
}
