@use "../Global.scss" as global;

.home__wrapper {
  padding: 24px;
  display: grid;
  grid-template-columns: 5fr 8fr;
  grid-template-rows: 1fr auto;
  gap: 24px;
}

.card__header {
  grid-column: 1/3;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}

.card__body-right,
.card__body-left {
  width: auto;
  height: 100%;
}
