@use "../Global.scss" as global;

@mixin buttonStyle(
  $border: none,
  $shadow: none,
  $disabled-color: global.$color-secondary,
  $color: global.$color-white,
  $background: global.$color-primary,
  $hover-color: $color,
  $hover-background: global.$color-primary-hover,
  $active-background: none
) {
  border: $border;
  color: $color;
  background: $background;

  @if $active-background != none {
    &:not(:disabled) {
      &:active,
      &:focus {
        background: $active-background;
        color: $hover-color;
      }
      &:hover {
        box-shadow: $shadow;
        color: $hover-color;
      }
    }
  } @else {
    &:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        box-shadow: $shadow;
        color: $hover-color;
        background: $hover-background;
      }
    }
  }

  &:disabled {
    background: $disabled-color;
  }
}

.button-primary,
.button-secondary,
.button-tab {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  justify-content: center;

  font-weight: global.$text-weight-medium;
  font-size: global.$text-size-m;
  font-family: global.$text-font-default;

  transition: all 0.2s ease-in-out;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-primary {
  @include buttonStyle(
    $shadow: 0px 0px 32px 0px global.$color-primary-transparent
  );
}

.button-secondary {
  @include buttonStyle(
    $border: 1px solid global.$color-primary,
    $color: global.$color-primary,
    $background: global.$color-light-grey,
    $shadow: 0px 0px 32px 0px global.$color-primary-transparent
  );
}

.button-tab {
  @include buttonStyle(
    $color: global.$color-grey,
    $background: global.$color-white,
    $hover-color: global.$color-primary,
    $active-background: global.$color-primary-hover
  );
}
