@use "../Global.scss" as global;

.tab {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 16px;

    border-radius: 12px;
  }

  &__text {
    @media (global.$screen-mobile) {
      display: none;
      visibility: none;
    }
  }
}
