.heading__text-l {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #333;
}
.heading__text-m {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #333;
}
.heading__text-s {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

.body__text-m {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}
.body__text-s {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #333;
}

.logo__text {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333;
}

body {
  background: #fafafa;
  margin: 0px;
}
@media (max-width: 375px) {
  body {
    background: #fff;
  }
}

.logotype {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #633cff;
}
.logotype__text {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333;
}

.text-gray {
  color: #737373;
}

.text-center {
  text-align: center;
}

.text-link {
  color: #633cff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.text-link:hover {
  cursor: pointer;
  color: #beadff;
}
.text-link-secondary {
  color: #737373;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.text-link-secondary:hover {
  cursor: pointer;
  color: #633cff;
}

.home {
  height: 100vh;
  overflow: hidden;
}

.home__grid {
  height: 100%;
  padding: 24px;
  display: grid;
  grid-template-columns: 5fr 8fr;
  grid-template-rows: 10% 80%;
  gap: 24px;
}

.home__header {
  grid-column: 1/3;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
}

.article__right-form {
  flex: 1;
}

.home__article-l, .home__article-r {
  width: auto;
}
.home__article-l {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__article-r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  gap: 0px;
}

.left__container {
  position: absolute;
  height: 300px;
  top: 51%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 237px;
  overflow-y: scroll;
}
.left__container::-webkit-scrollbar {
  height: 24px;
  width: 0px;
}
.left__container::-webkit-scrollbar-track {
  background: transparent;
}
.left__container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.left__container-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right__container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.right__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.right__body-links {
  background-color: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.right__body-instructions {
  width: 448px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.right__footer {
  display: flex;
  justify-content: end;
  border-top: 1px solid #d9d9d9;
  padding: 24px 40px;
}

.link__card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.link__card-header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.link__container-wrapper {
  overflow-y: scroll;
  scrollbar-gutter: 25px;
  flex-grow: 0;
  height: 400px;
}
.link__container-wrapper::-webkit-scrollbar {
  height: 24px;
}
.link__container-wrapper::-webkit-scrollbar-track {
  background: transparent;
}
.link__container-wrapper::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.link__container-wrapper-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link__input-text {
  width: 100% !important;
}

/*# sourceMappingURL=Home.css.map */
