.heading__text-l {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #333;
}
.heading__text-m {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #333;
}
.heading__text-s {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

.body__text-m {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}
.body__text-s {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #333;
}

.logo__text {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333;
}

body {
  background: #fafafa;
  margin: 0px;
}
@media (max-width: 375px) {
  body {
    background: #fff;
  }
}

.logotype {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #633cff;
}
.logotype__text {
  font-family: "Instrument Sans Variable", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #333;
}

.text-gray {
  color: #737373;
}

.text-center {
  text-align: center;
}

.text-link {
  color: #633cff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.text-link:hover {
  color: #beadff;
}

.button-primary,
.button-secondary,
.button-tab,
.button-link {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Instrument Sans Variable", sans-serif;
  transition: all 0.2s ease-in-out;
}
.button-primary:not(:disabled):hover, .button-primary:not(:disabled):focus, .button-primary:not(:disabled):active,
.button-secondary:not(:disabled):hover,
.button-secondary:not(:disabled):focus,
.button-secondary:not(:disabled):active,
.button-tab:not(:disabled):hover,
.button-tab:not(:disabled):focus,
.button-tab:not(:disabled):active,
.button-link:not(:disabled):hover,
.button-link:not(:disabled):focus,
.button-link:not(:disabled):active {
  cursor: pointer;
}
.button-primary:disabled,
.button-secondary:disabled,
.button-tab:disabled,
.button-link:disabled {
  cursor: not-allowed;
}

.button-primary {
  border: none;
  color: #fff;
  background: #633cff;
}
.button-primary:not(:disabled):hover, .button-primary:not(:disabled):focus, .button-primary:not(:disabled):active {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  color: #fff;
  background: #beadff;
}
.button-primary:disabled {
  background: #efebff;
}
.button-secondary {
  border: 1px solid #633cff;
  color: #633cff;
  background: #fafafa;
}
.button-secondary:not(:disabled):hover, .button-secondary:not(:disabled):focus, .button-secondary:not(:disabled):active {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  color: #633cff;
  background: #beadff;
}
.button-secondary:disabled {
  background: #efebff;
}
.button-link {
  border: none;
  color: #fff;
  background: #633cff;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 8px;
  padding: 11px 16px;
  width: 100%;
  height: 44px;
}
.button-link:not(:disabled):hover, .button-link:not(:disabled):focus, .button-link:not(:disabled):active {
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  color: #fff;
  background: #beadff;
}
.button-link span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-tab {
  border: none;
  color: #737373;
  background: #fff;
}
.button-tab:not(:disabled):active, .button-tab:not(:disabled):focus {
  background: #beadff;
  color: #633cff;
}
.button-tab:not(:disabled):hover {
  box-shadow: none;
  color: #633cff;
}
.button-tab:disabled {
  background: #efebff;
}
.button-tab-selected {
  color: #633cff;
  background: #beadff;
}
.button-tab:has(.tab__icon) {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.button-tab:has(.tab__icon) svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.icon-github {
  background: #1a1a1a;
}
.icon-twitter {
  background: #43b7e9;
}
.icon-linkedin {
  background: #2d68ff;
}
.icon-youtube {
  background: #ee3939;
}
.icon-facebook {
  background: #2442ac;
}
.icon-twitch {
  background: #ee3fc8;
}
.icon-dev_to {
  background: #333;
}
.icon-codewars {
  background: #8a1a50;
}
.icon-freecodecamp {
  background: #302267;
}
.icon-gitlab {
  background: #eb4925;
}
.icon-hashnode {
  background: #0330d1;
}
.icon-stackoverflow {
  background: #ec7100;
}

/*# sourceMappingURL=Buttons.css.map */
